html, body {
  height: 100%;
  /* background-image: url("assets/day.png");
  background-size: cover; */
  font-family: 'Rasa', sans-serif;
  color:#1C1918;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Metropolis', serif;
  font-weight: 600;
  margin-top: 0;
}

h1 {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 32px;
}

h3 {
  font-size: 1.5rem;
}

p.subtitle {
  color : #1C1918;
  font-size: 24px;
  width: 1000px;
  text-align: center;
  line-height: 2;
}

.button {
  background-color: #FF7F2A;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  padding: 16px 24px;
  font-family: 'Metropolis', serif;
  text-transform: uppercase;
}

a.cta {
  text-decoration: none;
  margin-top: 64px;
  font-weight: 600;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(28,25,24,0.75);
}

.modal.modal__open{
  display: flex;
  animation-name: fadeIn;
  animation-fill-mode: both;
  animation-duration: 0.32s;
  animation-timing-function: ease-out;
}

.modal .modal-card {
  max-width: 360px;
  background-color: #fff;
  padding : 2rem;
  box-shadow: 0px 0px 32px rgba(124, 124, 124, 0.25);
  border-radius: 16px;
  position: relative;
}

.modal-card .close-modal {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.modal-card .header h3 {
  margin: 12px 0;
}

.form-group {
  margin-bottom: 32px;
}

form label {
  visibility: hidden;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight:600;
  font-family: 'Metropolis', serif;
}

form label.filled {
  display: block;
  margin-bottom: 4px;
  font-family: 'Metropolis', serif;
}

form input,
form textarea {
  display: block;
  border: 0;
  border-bottom: 1px solid #1C1918;
  padding: 8px 0px;
  max-width:296px;
  width:296px;
  font-family: 'Metropolis', serif;
}

form input:focus,
form textarea:focus {
  transition: border-color 0.1s ease-out;
}

form textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 35px;
}

form input:focus,
form textarea:focus,
form input.active,
form textarea.active {
  outline:none;
  border-bottom: 1px solid #FF7F2A;
}

form label.active {
  color: #FF7F2A;
  animation-name: slideInUp;
  animation-fill-mode: both;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  visibility: visible;
}

.form-group {
  margin-bottom : 24px;
  display: flex;
  flex-direction: column-reverse;
}

button.button {
  box-shadow: none;
  width: 100%;
  outline: none;
  border: 0;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  transition : all 0.32s ease-out;
  transform: translateY(-2px);
  box-shadow: 0 0 8px rgba(28,25,24,0.25)
}

.modal .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  font-family: 'Metropolis', sans-serif;
}

.modal .progress.progress__open {
  display: flex;
}

.modal .illustration {
  height: 100%;
  background-color: #FFEADC;
  position: relative;
}

.progress__open .illustration {
  animation-name: zoomInIllustration;
  animation-fill-mode: both;
  animation-duration: 0.22s;
  animation-delay: 0.12s;
  opacity: 0;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}

.modal .illustration .surat {
  top: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
}

.surat .message {
  animation-name: insertPaper;
  animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.64s;
}

.surat .amplop {
  animation-name: feedbackBump;
  animation-fill-mode: both;
  animation-duration: 0.35s;
  animation-timing-function: ease-out;
  animation-delay: 0.80s;
}

.clouds .top {
  animation-name: cloudLeftToRight;
  animation-fill-mode: none;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
  top: 20px;
}

.clouds .middle {
  animation-name: cloudRightToLeft;
  animation-fill-mode: none;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
  top: 100px;
}

.clouds .bottom {
  animation-name: cloudLeftToRight;
  animation-fill-mode: none;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
  top: 200px;
}

.illustration .landscape {
  position: absolute;
  bottom: 0;
}

.progress .status {
  flex: 0 0 158px;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.progress__open .status svg{
  margin-top: 32px;
}

.progress__open .status svg,
.progress__open .status p {
  position: relative;
  z-index: 1;
  animation-name: zoomIn;
  animation-fill-mode: both;
  animation-duration: 0.32s;
  animation-timing-function: ease-out;
}

.progress__open .status {
  display: flex;
}

.progress .background {
  background-color: #FF7F2A;
  width: 20px;
  height: 20px;
  border-radius: 16px;
}

.progress__open .background {
  animation-name: zoomInCircle;
  animation-fill-mode: both;
  animation-duration: 0.32s;
  animation-timing-function: ease-out;
}



.modal .status .first,
.modal .status .second,
.modal .status .third {
  animation-name: semiFadeIn;
  animation-fill-mode: none;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.modal .status .second {
  animation-delay: 0.25s;
}

.modal .status .third {
  animation-delay: 0.5s;
}

.modal .status p {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
}

@keyframes cloudLeftToRight {
  0% {
    transform:translateX(-100%);
  }
  50% {
    transform:translateX(360px);
  }
  100% {
    transform:translateX(-100%);
  }
}

@keyframes cloudRightToLeft {
  0% {
    transform:translateX(360px);
  }
  50% {
    transform:translateX(-100%);
  }
  100% {
    transform:translateX(360px);
  }
}

@keyframes semiFadeIn {
  0% {
    opacity:0.2;
    transform: translateY(0px);
  }
  50% {
    opacity:1;
    transform: translateY(2px);
  }
  100% {
    opacity:0.2;
    transform: translateY(0px);
  }
}
@keyframes zoomInCircle {
  0% {
    transform: scale3d(0,0,0);
  }
  100% {
    transform: scale3d(30,30,10);
  }
}
@keyframes zoomInIllustration {
  0% {
    transform: scale3d(0,0,0);
    border-radius: 999px;
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    border-radius: 0px;
    opacity: 1;
  }
}
@keyframes insertPaper {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(65px);
  }
  100% {
    transform: translateY(50px);
  }
}
@keyframes feedbackBump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}